/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */
@media only screen and  (min-width:792px ) and (max-width: 831px){
    .estate-home-text{
        padding-top: 10%;
        height: 400px ;
    }
    .estate-home-text h1{
        line-height: 80px !important;
    }
}
@media only screen and  (min-width:767.98px ) and (max-width: 793px){
    .mid-text{
        margin-top: 150px !important ;
    }
    .section-one{
        height: 900px !important ;
    }
    .estate-home-text{
        padding-top: 0%;
        height: 350px ;
    }
    .project-mid-text>h2 {
        font-size: 2.5rem;
        font-weight: 600;
    }
    

}
@media only screen and  (max-width: 575px) { 
    .nav-right-menu ul, .nav-right-menu ul li{
        margin: auto;

    }
    .section-one{
        height: 650px ;
    }
    
    .estate-home-img img{
        height: 300px ;
        object-fit: contain;
    }
    .estate-home-text{
        padding: 20px 0px ;
        width: 100% !important;
        margin: auto;
        height: 430px ;
        text-align: center;
    }
    .estate-home-text>h1{
        line-height: 50px ;
        font-size: 2.5rem;
    }
   .estate-home-text>p{
        text-align: center; 
        margin: 20px auto ;

    }
    
   .estate-home-text input{
    width: 60% ;

    }
   .estate-home-text button{
    width: 60% ;

    }

    .mid-text{
        margin-top: 30% !important ;
    }
    .mid-text h1 {
        text-align: center;
        font-size: 35px;
        font-weight: 600;
    }
    .step-main img{
        width: 30px ;
    }
    .project-mid-img{
        display: none;
    }
    .project-mid-text>h2 {
        font-size: 1.7rem;
        font-weight: 600;
    }
    .globle-mid-text h2{
        width: 100%;
        margin: 30px 0px ;
        font-size: 1.6rem ;
    line-height: 40px;

    }

        /* section 4 */
        .globle-text{
            margin: auto;
            width: 100%;
            text-align: center;
        }
        .globle-text h3{
            font-size: 1.5rem;
            width: 100% !important;
            text-align: center;
        }
        .globle-text p {
            width: 100%;          
           margin-bottom: 20px ;
           font-size: 12px ;
        }
        .globle-img{
            width: 100% !important;
            margin:  auto ;
        }
        .globle-img img{
            padding-top: 30px ;
        }
        .plus img{
            width: 40px ;
            margin-top: 0px  !important;
        }
        .globle-text .btn {
            margin: 0% !important
        }
        
        /* section-five */
      
        .section-five {
            height: 650px ;
            }
            
            
            .estate-foot-text {
                padding: 50px;
                text-align: center;
            }
            
            .estate-foot-text input {
                border-radius: 50px;
                padding: 10px;
                width: 60%;
                border: none;
            }
            input::placeholder{
                font-size: 12px ;
                text-align: center;
            }
            
            .estate-home-text button {
                padding: 14px;
                margin-top: 8px;
                font-size: 12px  ;
            }
            .estate-foot-text button {
                padding: 14px;
                font-size: 12px  ;
            }
            
            .estate-foot-text h1 {
                font-size: 2rem;
                font-weight: 600;
                line-height: 50px;
                width: 100% ;
                margin: 20px 0px;
            }
            
            .estate-foot-text p {
                text-align: center ;
                width: 100%;
                margin: auto;
                font-size: 13px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0em;
                 padding: 20px 0px ;   
            }
            .estate-foot-img{
                text-align: center;
            }
            .estate-foot-img>img {
                position: relative;
                object-fit: contain;
                width: 100% ;
            }
            .card-main {
                display: flex;
                justify-content: center;
            }
            .card {
                text-align: center;
                width: 450px !important;
            }
            .card >img{
                object-fit: contain;
            }
            .card-img-top{
                height: 210px !important;
            }
            
    
    
}
/* // Small devices (landscape phones, 576px and up) */
@media only screen and  (min-width: 576px) and (max-width: 767.98px) { 
    .nav-right-menu ul, .nav-right-menu ul li{
        margin: auto;
    }
    .section-one{
        height: 850px ;
    }
    .estate-home-img img{
        height: inherit;
        object-fit: contain;
    }
    .estate-home-text{
        padding: 30px 0px ;
        width: 100% !important;
        margin: auto;
        text-align: center;
        height: inherit;
    }
    .estate-home-text>h1{
        margin: 20px auto ;
        font-size: 3.3rem;
    }
   .estate-home-text>p{
        text-align: center; 
        margin: 20px auto ;

    }
    .step-main img{
        width: 30px ;
    }
    .mid-text{
        margin-top: 100px ;
    }

    .msg-text{
        width: 90%;
        margin: auto;
    }
    .sms-text{
        width: 90%;
        margin: auto;
    }
    .edit-text{
        width: 90%;
        margin: auto;
    }
    .project-mid-img{
        display: none;
    }
    .project-mid-text>h2 {
        font-size: 40px;
        font-weight: 600;
    }
    .globle-mid-text h2{
        width: 100%;
        font-size: 40px ;
    }
    /* section 4 */
    .globle-text{
        margin: auto;
        text-align: center;
    }
    .globle-text p {
        width: 100%;
       margin: auto;
    }
    .globle-img{
        width: 80% !important;
        margin:  auto ;
    }
    .globle-img img{
        padding-top: 30px ;
    }
    .plus {
        margin-top: 12px  !important;
    }
    
      /* section-five */
      .section-five {
        height: 700px ;
        }
        
        
        .estate-foot-text {
            padding: 50px;
            text-align: center;
        }
        
        .estate-foot-text input {
            border-radius: 50px;
            padding: 10px;
            width: 50%;
            border: none;
        }
        
        .estate-foot-text button {
            padding: 10px;
            font-size: 12px  ;
        }
        
        .estate-foot-text h1 {
            font-size: 2.5rem;
            font-weight: 600;
            line-height: 70px;
            width: 100% ;
            margin: 20px 0px;
        }
        
        .estate-foot-text p {
            width: 90%;
            text-align: center !important;
            margin: auto;
            font-size: 14px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;

             padding: 10px 0px ;   
        }
        .estate-foot-img{
            text-align: center;
        }
        .estate-foot-img>img {
            position: relative;
            right: 10px ;
            bottom: 0px ;
            object-fit: contain;
            width: 80% ;
        }
        .card-main {
            display: flex;
            justify-content: center;
        }
        .card {
            text-align: center;
            width: 450px !important;
        }
        .card >img{
            object-fit: fill;
        }
      
        
 }

/* // Medium devices (tablets, 768px and up) */
@media  only screen and (min-width: 768px) and (max-width: 991.98px)  { 

    .nav-right-menu ul, .nav-right-menu ul li{
        margin: auto;
    }
    .section-one{
        height: 1050px ;
    }
    .estate-home-text{
        width: 100% !important;
        margin: auto;
        text-align: center;
        
    }
    .estate-home-text>h1,.estate-home-text>p{
        margin: auto;
        line-height: 60px ;
        text-align: center; 
    }
    .estate-home-img img{
        /* background-color: red; */
        object-fit: contain !important;
    }
    .step-main{
        margin: auto;
        text-align: center;
    }
    .mid-text {
        margin-top: 100px ;
    }
    .project-mid-img{
        display: none;
    }
    .globle-mid-text h2{
        width: 90%;
        font-size: 40px ;
    }
    .globle-text{
        margin: auto;
        text-align: center;
    }
    .globle-text p {
       margin: auto;
    }
    .globle-img{
        width: 80% !important;
        margin:  auto ;
    }
    .globle-img img{
        padding-top: 30px ;
    }
    
      /* section-five */
      .section-five {
        height: 750px ;
        }
        
        
        .estate-foot-text {
            padding: 50px;
            text-align: center;
        }
        
        .estate-foot-text input {
            border-radius: 50px;
            padding: 10px;
            width: 50%;
            border: none;
        }
        
        .estate-foot-text button {
            padding: 10px;
            font-size: 12px  ;
        }
        
        .estate-foot-text h1 {
            font-size: 2.5rem;
            font-weight: 600;
            line-height: 70px;
            width: 100% ;
            margin: 20px 0px;
        }
        
        .estate-foot-text p {
            width: 90%;
            margin: auto;
            font-size: 14px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: center;
             padding: 10px 0px ;   
        }
        .estate-foot-img{
            text-align: center;
        }
        .estate-foot-img>img {
            position: relative;
            right: 10px ;
            bottom: 0px ;
            object-fit: contain;
            width: 600px ;
        }
        .card-main {
            display: flex;
            justify-content: space-between;
        }
        .card-img-top {
            height: 220px !important ;
            object-fit: contain;
        }
        .card {
            width: 31% !important;
        }
        .card >img{
            object-fit: contain;
        }
 }

/* // Large devices (desktops, 992px and up) */
@media  only screen and (min-width: 992px) and (max-width: 1199.98px) { 
    .nav-right-menu ul{
        margin-left:auto  ;
    }
    .nav-menu{
        width: 100%;
    }
    .section-one{
        height: 600px !important;
    }
    .estate-home-img img{
        height: inherit;
    }
    .step-main{
        margin: auto;
        text-align: center;
    }
    /* section4 */
    .globle-mid-text h2{
        width: 100%;
    }
    .globle-text .btn {
        margin: 10px 0px ;
    
    }
    
    .plus {
        margin-top: 12px  !important;
    }
    
    .globle-text h3 {
        margin: 24px 0px;
        font-size: 2.5rem;
    }
    
    .globle-text p {
        width: 80%;
        margin: 20px  0px;
    }

    /* section-five */
    .section-five {
    height: 450px ;
    }
    
    
    .estate-foot-text {
        padding: 50px;
    }
    
    .estate-foot-text input {
        border-radius: 50px;
        padding: 10px;
        width: 50%;
        border: none;
    }
    
    .estate-foot-text button {
        padding: 10px;
        font-size: 12px  ;
    }
    
    .estate-foot-text h1 {
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 70px;
        width: 100% ;
        margin: 20px 0px;
    }
    
    .estate-foot-text p {
        width: 90%;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
         padding: 10px 0px ;   
    }
    .estate-foot-img>img {
        position: relative;
        right: 10px ;
        bottom: 0px ;
    }
      
    .card-main {
        display: flex;
        justify-content: space-between;
    
    }
    
    .card-img-top {
        height: 300px !important ;
        object-fit: contain;
    }
    .card {
        width: 32% !important;
    }
    .card >img{
        object-fit: fill;
    }
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media only screen and  (min-width: 1200px) and (max-width: 1399.98px){ 
    .nav-right-menu ul{
        margin-left:auto  ;
    }
    .card-main {
        font-family: poppins;
        margin: auto !important;
        display: flex;
        justify-content: space-between;
    
    }
    
    .card {
        width: 32% !important;
    }
   
    
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media only screen and  (min-width: 1400px) { 

 }